
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



body{
    background: rgb(23, 23, 23);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::after{
    content: '';
    background: red;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(40% at right 80%);
    z-index: -1;
}

.container{
    width: 80%;
    height: 80%;
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
}

ul li{
    color: white;
    display: inline-block;
    margin : 0 7px;
    font-size: 17px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

div a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 3px;
}

img{
    width: 340px; 
}

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin: ;
    padding: 45px 100px 0 100px;
}

.title{
    width: 80%;
    color: white;
}

h1{
    font-size: 30px;
    text-transform: uppercase;
    width: 80%%;
}

p{
    width: 70%;
}

#imgggg:hover{
    filter: drop-shadow( 30px 10px 11px black);
    transition: all .5s linear;
}


@media (max-width: 650px) {
    section{
        flex-direction: column;
        justify-content: center;
        padding: 0px 40px 0px 40px;
        
    }
    h1, p{
        width: 90%;
        text-align: center;
        
   }
    
    body::after{
        clip-path: circle(50% at bottom );
    }

    nav{
        flex-direction: column;
        justify-content: center;
        
    }

    .menuu , .logo{
        text-align: center;
    }
    
    img{
        width: 300px; 
    }

    .container , .image , .home , .title{
        width: 90%;
    }
}